body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav ul{
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

nav li{
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 10px;
}

nav a:hover{
    background-color: #ffffff;
    color: #4a4a4f;
}

.card{
    float: left;
    width: 15%;
    margin-left: 4.9%;
    margin-right: 4.9%;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #c8cac8;
    padding-top: 30px;
} 

.card a{
    text-align: center;
    text-decoration: none;
}

.card h2{
    color: #4A4F4A;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-outf;
}

.card h2:hover{
    text-align: center;
    text-decoration: none;
    color:#838b83;
}

img{
     width: 50%; 
     height: 160px;
     min-width: 170px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #4a4a4f;
}